<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Successs- Java</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Welcome User</h1></div>
    <div>
        <h3> <a th:href="@{/login}">Click here to login</a> </h3>
    </div>
    <center>
        <span th:text="'A verification email has been sent to: ' + ${user.email}"></span>
    </center>
</div>
</body>
</html>